* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Shippori Mincho', serif;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 620px;
  font-size: 40px;
  color: black;
}

.home {
  background: url(./images/pic1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.reports {
  background: url(./images/pic2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.products {
  background: url(./images/pic3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.team{
  background: url(./images/pic4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.messages {
  background: url(./images/pic6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.support {
  background: url(./images/pic5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}